<?xml version="1.0"?>
<config>
    <modules>
        <OpsWay_NovayaPochta>
            <version>0.1.2</version>
        </OpsWay_NovayaPochta>
    </modules>
    <global>
        <models>
            <opsway_novayapochta>
                <class>OpsWay_NovayaPochta_Model</class>
                <resourceModel>opsway_novayapochta_mysql4</resourceModel>
            </opsway_novayapochta>
            <opsway_novayapochta_mysql4>
                <class>OpsWay_NovayaPochta_Model_Mysql4</class>
                <entities>
                    <requests>
                        <table>opsway_novaposhta_requests</table>
                    </requests>
                </entities>
            </opsway_novayapochta_mysql4>
        </models>
        <blocks>
            <opsway_novayapochta>
                <class>OpsWay_NovayaPochta_Block</class>
            </opsway_novayapochta>
        </blocks>
        <helpers>
            <opsway_novayapochta>
                <class>OpsWay_NovayaPochta_Helper</class>
            </opsway_novayapochta>
        </helpers>
        <resources>
            <opsway_novayapochta_setup>
                <setup>
                    <module>OpsWay_NovayaPochta</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </opsway_novayapochta_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <OpsWay_NovayaPochta>
                    <files>
                        <default>OpsWay_NovayaPochta.csv</default>
                    </files>
                </OpsWay_NovayaPochta>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <opsway_novayapochta>
                <use>admin</use>
                <args>
                    <module>OpsWay_NovayaPochta</module>
                    <frontName>opsway_novayapochta</frontName>
                </args>
            </opsway_novayapochta>
        </routers>
    </admin>
</config>